@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #e5e7eb;
}

.top-nav .top-nav__link {
  text-decoration: none;
}

.account-form {
  max-width: 580px;
  margin: auto;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.form-error {
  color: red;
  margin-top: 10px;
}
.changePin {
  margin-bottom: 20px;
}
